{% extends "_base.html" %}
{% set active_page = "zfs" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 text-left">
        <h1>ZFS&nbsp;/&nbsp;Pool <code>{{ pool.name }}</code></h1>
        <h2>Health</h2>
        <div class="">{{ pool.health }}</div>
        {% if pool.status != '' %}
        <h2>Status</h2>
        <div class="well">{{ pool.status }}</div>
        {% endif %}
        {% if pool.action != '' %}
        <h2>Action</h2>
        <div class="well">{{ pool.action }}</div>
        {% endif %}
        {% if pool.scan != '' %}
        <h2>Scan</h2>
        <div class="well">{{ pool.scan }}</div>
        {% endif %}
        <h2>Hierarchy</h2>
        {% for vdev in pool.vdevs %}
            <div>{{ vdev }}</div>
            {% for disk in vdev.disks %}
                <div>{{ disk }}</div>
            {% endfor %}
        {% endfor %}
        {% if pool.logs %}
        <h2>Logs</h2>
            {% for vdev in pool.logs.vdevs %}
                <div>{{ vdev }}</div>
                {% for disk in vdev.disks %}
                    <div>{{ disk }}</div>
                {% endfor %}
            {% endfor %}
        {% endif %}
    </div>
  </div>
</div>
{% endblock %}